<div class="col-sm-2">
  <ul class="sidebar-nav">
    <li><a href="/catalog">Home</a></li>
    <li><a href="/catalog/songs">All Songs</a></li>
    <li><a href="/catalog/authors">All Authors</a></li>
    <li><a href="/catalog/categories">All Categories</a></li>
    <hr>
    <li><a href="/catalog/author/create">Create New Author</a></li>
    <li><a href="/catalog/category/create">Create New Category</a></li>
    <li><a href="/catalog/song/create">Create New Song</a></li>
  </ul>
</div>